//
//  Footer
//  ---------------------------------------------

//  Variables
//  ----------------------------------


//  Styles
//  ----------------------------------
    
@mixin footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  color: var(--base__color-1);
  text-decoration: none;
  @include font(14, 18);
  font-weight: $font-weight__bold;
}

@include media('mobile') {

  footer {
    margin-top: 80px;
    width: 100%;

    .inner-footer-container, .footer-copy-container{
      position: relative;
      border-top: 2px solid var(--base__color-1);
    }

    .inner-footer-container{
      padding: 70px 0 65px;
      border-color: var(--base__color-1);
    }

    .footer-copy-container{
      padding: 25px 0;
      border-color: rgba(var(--base__color-1__rgb), 2%);
    }

    .footer-copy{
      p{
        @include font(14, 18);
        color: var(--base__color-9);
        letter-spacing: .4px;
        font-weight: $font-weight__regular;
      }
    }

    .footer-block{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    .footer-link-list, .social-media-list{
      display: flex;
      flex-direction: column;
      list-style: none;
      li{
        a{ @include footer-link; }
      }
    }

    .social-media-list{
      --ext-link__icon__color: var(--base__color-1);
    }
  }

}

// max-768
@include media('tablet-down') {

  footer {
    .inner-footer-container{
      .footer-block{
        &.right-side{
          align-items: flex-start;
        }
      }
      .footer-link-list, .social-media-list{
        align-items: flex-start;
        gap: 20px;
      }
    }

    .footer-copy-container{
      .copy-col{
        order: 2;
      }
      .available-col{
        order: 1;
        align-items: flex-start;
      }
    }
  }

}

// min-768
@include media('tablet') {

  footer {
    .inner-footer-container{
      .footer-block{
        &.right-side{
          align-items: flex-end;
        }
      }
      .social-media-list{
        align-items: flex-end;
        gap: 10px;
      }
      .footer-link-list{
        align-items: flex-start;
        gap: 10px;
      }
    }

    .footer-copy-container{
      .available-col{
        align-items: flex-end;
      }
    }
  }

}

// min-1024
@include media('tablet-wide') {

  footer {
    .inner-footer-container{
      .social-media-list{
        li{
          a{
            svg{ transition: transform .3s ease; }
            &:hover{
              svg{ transform: translate(2px, -2px); }
            } 
          }
        }
      }
    }
  }

}