//
//  Project Teaser Element
//  ---------------------------------------------

//  Variables
//  ----------------------------------


//  Styles
//  ----------------------------------

@include media('mobile') {

  .project-teaser-element {
    width: 100%;
    flex: 1;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 8px;
    background-color: var(--base__color-6);
    transition: background 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon{
      img, svg{
        max-width: 100%;
      }
    }

    .tag{
      &.layout-0{
        position: absolute;
        z-index: 1;
        background-color: rgba(var(--project__color-1__rgb), .5);
        color: var(--base__color-1);
        width: auto;
        padding: 6px 10px;
        border-radius: 3px;
        font-weight: $font-weight__bold;
      }
      &.layout-1{
        position: absolute;
        z-index: 1;
        background-color: var(--base__color-7);
        color: var(--base__color-1);
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        font-weight: $font-weight__bold;
      }
    }
  }

}

// max-1024
@include media('tablet-wide-down') {
  
  .project-teaser-element {
    padding: 15px 20px;
    .icon{
      img, svg{
        max-height: 60px;
      }
    }

    .tag{
      &.layout-0, &.layout-1{
        top: 10px;
        left: 10px;
        @include font(10, 10);
      }
    }
  }

}

// min-1024
@include media('tablet-wide') {
  
  .project-teaser-element {
    padding: 35px 30px;

    .tag{
      &.layout-0, &.layout-1{
        top: 20px;
        left: 20px;
        @include font(12, 12);
      }
    }

    //  Border Teaser Element
    //  ----------------------------------

    &::before {
      content: "";
      display: block;
      height: calc(100% + 2px);
      width: calc(100% + 2px);
      border-radius: 8px;
      inset: -1px;
      position: absolute;
      z-index: -2;
      right: -1px;
      top: -1px;
      bottom: -1px;
      left: -1px;
      user-select: none;
      pointer-events: none;
      transition: background 0.2s ease-in-out;
      will-change: background;
      contain: size;

      background: radial-gradient(
        300px circle at var(--x__mouse__coordinate) var(--y__mouse__coordinate),
        rgba(var(--base__color-1__rgb), .5) 0,
        rgba(var(--base__color-1__rgb), .8) 50%,
        transparent 100%
      );
    }

    &:hover{
      background-color: var(--base__color-4);
    }
  }

}